* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
.header {
    overflow: hidden;
    background-color: #1F2937;
    padding: 20px 5px;
  }
  
/* Style the header links */
.header a {
float: left;
color: white;
text-align: center;
padding: 12px;
text-decoration: none;
font-size: 18px;
line-height: 25px;
border-radius: 4px;
}

.header a.logo {
font-size: 24px;
font-weight: bold;
font-family: sans-serif;
color: #F9FAF8;
}

/* Change the background color on mouse-over */
.header a:hover {
background-color: #ddd;
color: black;
}

/* Style the active/current link*/
.header a.active {
/* background-color: dodgerblue; */
background-color: #3882F6;
color: #E5E7EB;
}

/* Float the link section to the right */
.header-right {
float: right;
}

.row {
    background-color: #1F2937;
    padding-top: 90px;
    display: flex;
}

.row h1 {
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
}

.row h3 {
    font-size: 18px;
    color: #E5E7EB;
}

.Hero-sign-up-btn {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 5px 20px;
    border-radius: 6px;

}
.random-info {
    display: flex;
}

.column {
    flex: 50%;
    padding: 20px;
  }

.column1 {
    flex: 50%;
}
footer {
    background-color: #1F2937;
    color: white;
    padding: 20px;
    text-align: center;
}